<section id="start-collaboration" class="container-fluid row section-dark">
    <div class="container">
        <h2>Start a New Collaboration</h2>
        <p>The Eclipse Foundation provides multiple services to support industry collaborations.</p>
        <p>
            Whether you intend on contributing to Eclipse technologies that are important to your product strategy, or simply
            want to explore a specific innovation area with like-minded organizations, the Eclipse Foundation is the open source
            home for industry collaboration.
        </p>

        <div class="row margin-top-40">
            <div class="col-md-16">
                <div class="collaboration-table-wrapper">
                    <table class="collaboration-table">
                        <thead>
                            <tr>
                                <td scope="col"></td>
                                <th scope="col">Working Groups</th>
                                <th scope="col">Interest Groups</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ range .Site.Data.collaborations.collaboration_comparison }}
                            <tr>
                                <th scope="row">{{ .name }}</th>
                                <td>
                                    <span 
                                        role="img" 
                                        {{ if .support.working_groups }}
                                        class="collaboration-table-checked" 
                                        alt="yes"
                                        {{ else }}
                                        alt="no"
                                        {{ end }}
                                    >
                                    </span>
                                </td>
                                <td>
                                    <span 
                                        role="img" 
                                        {{ if .support.interest_groups }}
                                        class="collaboration-table-checked" 
                                        alt="yes"
                                        {{ else }}
                                        alt="no"
                                        {{ end }}
                                    >
                                    </span>
                                </td>
                            </tr>
                        {{ end }}
                        <tr class="collaboration-table-link-row">
                            <td scope="row"></td>
                            <td><a class="btn btn-link-boxed" href="/org/workinggroups/about.php">More About Working Groups</a></td>
                            <td><a class="btn btn-link-boxed" href="./interest-groups">More About Interest Groups</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="start-collaboration-buttons-wrapper">
                    <div class="start-collaboration-buttons">
                        <a class="btn btn-primary" href="mailto:collaborations@eclipse-foundation.org" tabindex="0">Contact Us About Creating a Working Group</a>
                        <a class="btn btn-secondary" href="https://projects.eclipse.org/propose-interest-group" tabindex="0">Propose an Interest Group</a>
                    </div>
                    <a href="mailto:collaborations@eclipse-foundation.org">Not sure? Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>